body{
  margin: 0px;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}

p{
  text-indent: 10px;
}

.container{
  width: 60%;
  margin: 0 auto;
  margin-top: 10px;
  border-top: 1px solid black;
  padding: 10px;
  background-color: white;
}

.question_block{
  border-bottom: 1px solid black;
  padding: 10px;
}

.question{
  padding: 10px;
  border-bottom: 1px black solid;
  float: left;
  width: 80%
}

.ask_block{
  margin: 0 auto;
  width: 70%;
  border: 1px solid black;
}

.commentblock{
  margin: 0 auto;
  width:60%;
}

.answer_block{
  margin: 0 auto;
  margin-top: 10px;
  width: 90%;
  border: 1px solid black;
}

.answer{
  border:1px solid black;
  padding: 10px;
  margin: 10px;
}

.answer_comment{
  text-indent: 20px;
  font-size: 10px;
}
