body{
  margin: 0px;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}

a:active, a, a:visited{
  color: orange;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

a:hover{
  color: blue;
}

p{
  text-indent: 10px;
}

#a_form{
  width: 80%;
  margin: 0 auto;
}

.ans_comment_form{
  display: none;
}

.question_comment_form{
  display: none;
}

.container{
  margin: 0 auto;
  padding: 10px;
}

.question_block{
  padding: 10px;
  float: left;
}

.question{
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 1px gray solid;
  float: left;
  width: 80%;
  height: 60px;
  overflow: hidden;
}

.ask_block{
  margin: 0 auto;
  width: 70%;
  border: 1px solid black;
}

.comment_block{
  margin: 0 auto;
  width:60%;
}

.answer_block{
  margin: 0 auto;
  margin-top: 10px;
  border: 1px solid black;
}

.answer{
  border:1px solid black;
  padding: 10px;
  margin: 10px;
}

.answer_comment{
  font-size: 10px;
  width: 50%;
  margin: 0 auto;
}

.row-styles {
    border-bottom: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
}

.vote_form {
    position: relative;
    padding-right: 20px;
}
