body{
  margin: 0px;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}

.container{
  width: 60%;
  margin: 0 auto;
  margin-top: 10px;
  border-top: 1px solid black;
  padding: 10px;
}

.question{
  padding: 10px;
  border-bottom: 1px black solid;
  float: left;
  width: 80%
}

.ask_block{
  margin: 0 auto;
  width: 70%;
  border: 1px solid black;
}

.answer_block{
  margin: 0 auto;
  width: 70%;
  border: 1px solid black;
}
