/* css file for footer */

#footer:img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    padding: 10px;
}

#footer ul {
    display: flex;
    justify-content: space-around;
    flex-flow: row;

}
