#nav {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#logo {
    width: 50%;
    float: left;
}

#nav-links {
    width: 50%;
    float: right;
    text-align: right;
}

#nav-links img {
    margin: 5px 10px 5px 10px;
}
#nav-links a {
  color: black;
  padding-left: 10px;
  padding-right: 10px;
}

#nav-links a:hover {
  border-bottom: 3px solid orange;
}

.nav-words {
    text-align: center;
}

div.header{
  width: 100%;
  border-top: 3px solid orange;
  background-color: #F1F1F1;
}
