ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #ccc;
}

div#logo{
  height: auto;
  line-height: auto;
  margin: 0 auto;
  display: inline;
  position: relative;
}

div.header{
  width: 100%;
  background-color: #F1F1F1;

}

div.-container{
  width: 80%;
  margin: 0 auto;

}

#title {
    padding-top: 5px;
}
