
{% load staticfiles %}

{% block content %}
  <div class='answer-comment-form' id="acomment_form">
    <p>Comment on an Answer</p>
    <form method="POST">
       {% csrf_token %}
       {{ form.as_p }}
       <input name="answer_id" value="{{answer.id}}" style="display:none"/>
       <input name="user_id" value="{{user.id}}" style="display:none"/>
     <input type="submit" id="comment" value="Submit"/>
    </form>
  </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{% static 'js/anscomment.js' %}"></script>
{% endblock %}
