<!DOCTYPE html>
<html>
    <head>
        {% load staticfiles %}
        <meta charset="utf-8">
        <link rel="shortcut icon" href="{% static '/images/man_thinking.png' type="image/x-icon" alt='stack' %}"/>
        <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css' />
        <link href="{% static 'css/base.css' %}" rel="stylesheet"/>
        {% block extra_head %}{% endblock %}
    </head>
    <body>
      {% block content %}
      {% endblock %}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
      {% block javascript %}
      {% endblock %}
    </body>
</html>
