<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <meta charset="utf-8">
        <title>Question Box</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{% static 'thestraps/css/bootstrap.css' %}" rel="stylesheet">
    </head>
    <body>
      {% include 'question_box_app/header.html' %}
        {% block content %}
        {% endblock %}
      <script src="{% static 'thestraps/js/jquery-3.2.0.min.js' %}"></script>  <!-- JQUERY HERE -->
      <script src="{% static 'thestraps/js/bootstrap.min.js' %}"></script>
      {% block javascript %}
      {% endblock %}
    </body>
</html>
