{% extends 'question_box_app/base.html' %}
{% block extra_head %}
{% load staticfiles %}
<link href="{% static 'css/base.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
{% include 'question_box_app/header.html' %}

<div class='container'>
 <div class='row'>
    <div class="two columns"></div>
    <div class="ten columns">
      <div class='block'>
      </div>
    </div>
</div>
</div>
{% include 'question_box_app/footer.html' %}
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{% static 'js/base.js' %}"></script>
{% endblock %}
