{% extends 'question_box_app/base.html' %}
{% block extra_head %}
{% load staticfiles %}
<link href="{% static 'css/base.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
{% include 'question_box_app/header.html' %}

<div class='container'>
{% for q in questions %}
      <div class="row" >
          <div class="twelve columns question" id='{{q.id}}'>
          <a href=/question/{{q.id}}> {{q.title}}</a><br>
             {{q.text}}
         </div>
      </div>
{% endfor %}
</div>

{% include 'question_box_app/footer.html' %}
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{% static 'js/base.js' %}"></script>
{% endblock %}
