{% extends 'question_box_app/base.html' %}
{% block extra_head %}
{% load staticfiles %}
<title>Question Box: {{question.title}}</title>
{% endblock %}

{% block content %}
{% include 'question_box_app/header.html' %}

<div class='container'>
  <div class='row row-styles'>
    <div class='two columns'>
        <div id='votes_temp'>
          {% include 'question_box_app/q_vote.html' %}
        </div>
    </div>
    <div class='ten columns'>
    <div class='question_block'>
      <h3>{{question.title}}</h3>
      <p>{{question.text}}</p>
      <p style='text-align: right;'>Posted by: {{question.user.username}}</p></br>
  </div>
  </div>
  </div>
  <div class="row row-styles">
      <div class="two columns"></div>
      <div class="ten columns">
        <div class='comment_block'>
          <a href='' class='question_comment_link' id='{{question.id}}'>Comment on question</a>
          <div class='question_comment_form' id="qcomment_form">
            <form method='POST'>
                {% csrf_token %}
                {{ form.as_p }}
                <input name="question_id" value="{{question.id}}" style="display:none"/>
                <input name="user_id" value="{{user.id}}" style="display:none"/>
                <input id="submit_qcomment" type='submit' value='Submit Comment'/>
            </form>
          </div>
        </div>
    </div>
  </div>

  <div class="row row-styles">
      <div class="two columns">
          {% for ans in ans_score_list %}
          <div class="vote_form">
              <form method="POST">
                {% csrf_token %}
                <input name="ans_id" value="{{answer.id}}" style="display:none"/>
                <input name="user_id" value="{{user.id}}" style="display:none"/>
                <input name="q_id" value="{{question.id}}" style="display:none"/>
                <div id="vote_area">
                  <div id="plus_vote">
                    <img src="{% static 'images/plus-sign.png' %}" alt="Up Vote"/>
                  </div>
                <div id="vote_total">
                  {{ ans }}
                </div>
                  <div id="minus_vote">
                    <img src="{% static 'images/minus-sign.png' %}" alt="Down Vote"/>
                </div>
                </div>
              </form>
           </div>
           {% endfor %}
       </div>
      <div class="ten columns">
      <div class='answer_block'>
        <div class="ans_comment_form" id="acomment_form">
          <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
          <input name="answer_id" value='{{answer.id}}' style="display:none"/>  <!-- change value to correspond to respective answer -->
          <input name="user_id" value='{{user.id}}' style="display:none"/>
          <input type="submit" id="submit_acomment" value="Submit Comment"/>
          </form>
        </div>
        </div>
      </div>
    </div>
  <div class="row row-styles">
    <div class="two columns"></div>
    <div class="ten columns">
    <div id="a_form">
      <h2>Post an Answer</h2>
        <form method='POST'>
            {% csrf_token %}
            {{ form.as_p }}
            <input name="question_id" value="{{question.id}}" style="display:none"/>
            <input name="user_id" value="{{user.id}}" style="display:none"/>
            <input id="submit_answer" type='submit' value='Submit Answer'/>
        </form>
    </div>
  </div>
</div>
</div>

{% endblock %}
{% block javascript %}
<script src="{% static 'js/answer.js' %}"></script>
<script src="{% static 'js/qcomment.js' %}"></script>
<!-- <script src="{% static 'js/anscomment.js' %}?v=9"></script> -->
<script type="text/javascript" src="{% static 'js/ans_vote.js' %}"></script>
{% endblock %}
