{% extends 'question_box_app/base.html' %}
{% block extra_head %}
{% load staticfiles %}
<link href="{% static 'css/base.css' %}?v=9" rel="stylesheet">
<title>Question Box: {{question.title}}</title>
{% endblock %}

{% block content %}
{% include 'question_box_app/header.html' %}

<div class='container'>

    <div class='question_block'>
      <h3>{{question.title}}</h3>
      <p>{{question.text}}</p>
      <p style='text-align: right;'>Posted by: {{question.user.username}}</p></br>
      {#{% for answer in answers %}{{answer.id}} {% endfor %}#}

        <div class='comment_block'>
          <a href='#' class='question_comment_form' id='{{question.id}}'>Comment on question</a>
          <div class='question-comment-link' id="qcomment_form">
            <form method='POST'>
                {% csrf_token %}
                {{ form.as_p }}
                <input name="question_id" value="{{question.id}}" style="display:none"/>
                <input name="user_id" value="{{user.id}}" style="display:none"/>
                <input id="submit_qcomment" type='submit' value='Submit Comment'/>
            </form>
          </div>
        </div>
    </div>

    <div class='answer_block'>
        <a href='#' class='answer_comment_form' id="1">Reply to answer</a>
        <div class='answer-comment-link' id="acomment_form">
          <form method="POST">
             {% csrf_token %}
             {{ form.as_p }}
             <input name="answer_id" value=1 style="display:none"/>
             <input name="user_id" value="{{user.id}}" style="display:none"/>
           <input type="submit" id="submit_acomment" value="Submit Comment"/>
          </form>
        </div>
    </div>

  <div id="a_form">
    <h2>Post an Answer</h2>
      <form method='POST'>
          {% csrf_token %}
          {{ form.as_p }}
          <input name="question_id" value="{{question.id}}" style="display:none"/>
          <input name="user_id" value="{{user.id}}" style="display:none"/>
          <input id="submit_answer" type='submit' value='Submit Answer'/>
      </form>
  </div>

</div>

{% endblock %}
{% block javascript %}
<script src="{% static 'js/answer.js' %}?v=9"></script>
<script src="{% static 'js/qcomment.js' %}?v=9"></script>
<script src="{% static 'js/anscomment.js' %}?v=9"></script>
{% endblock %}
