{% extends 'question_box_app/base.html' %}
{% block extra_head %}
{% load staticfiles %}
<link href="{% static 'css/base.css' %}" rel="stylesheet">
<title>{{question.title}}</title>
{% endblock %}

{% block content %}
{% include 'question_box_app/header.html' %}

<div class='container'>

    {{user}}: {{question.title}}

  <div id=ans_form>
    <form action="/answer/" method="POST" id="answer_form">
      {% csrf_token %}
      <div class="fieldWrapper" id="the_answer">
          {{ form.text }}
      </div>
      <div id="results"></div> <!-- errors go here -->
      <input type="submit" value="Post" class="button" id="submit_answer">
    </form>
  </div>

    {{answer.text}}

</div>

{% endblock %}

{% block javascript %}
<script src="/static/js/answer.js"></script>
{% endblock %}
